body {
    font-family: helvetica,sans,serif
}

h1 {
    font-size: 1.1em;
    text-align: center;
    margin: 0;
}

.lastupdated, .numresults {
    font-style: italic;
    text-align: center;
    margin: 1;
}

.lastupdated {
    font-size: 0.9em;
}

.notice {
    text-align: center;
    font-size: 0.9em;
    margin: 5 0;
}

.stopalerts {
    text-align: center;
    margin: 2px;
    font-size: 0.8em;
}

#zone {
    text-align: center;
    margin: 0.5;
}

#allstopslink {
    text-align: center;
    font-size: 0.9em;
    margin: 2 0;
}

.cleantable {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

#stoptable, #locationtable, #stoptimetable {
    margin-bottom: 0.6em;
}

#stopform, #routeform, #searchform {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8em;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 10px;
    background-color: #fafafa;
}

#stopnumber {
    max-width: 100%;
}

#searchquery {
    max-width: 100%;
}

#routeselect {
    max-width: 100%;
    width: 100%;
}

#stopsubmit, #searchsubmit {
    /* float: right; */
}

.cleantable th {
    text-align: center;
}

.cleantable th, .cleantable td {
    border: 1px solid #ccc;
    padding: 15px 5px 10px 5px;
}

.cleantable tr:nth-child(even) {
    background-color: #f0f0f0;
}

.cleantable thead {
    background-color: #dddddd;
}

#info p{
    text-align: center;
    max-width: 500px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.explainer {
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    margin-top: 2;
    margin-bottom: 5;
}

.fmain {
    display: table;
    width: 100%;
    table-layout: fixed;
    /* border-spacing: 10px; */
}

.fcol {
        display: table-cell;
        padding: 0 10px;
}

.notices {
    text-align: center;
    font-size: 0.9em;
    margin: 15 auto;
    max-width: 400px;
    padding: 5px;
    border: 1px solid lightgray;
}

.notice-header {
    margin: 0;
    font-weight: bold;
}

.notice {
    margin: 0;
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
}

.zonecol {
    text-align: center;
}

.routename {
    text-align: center;
    font-style: italic;
    font-size: 0.95em;
    margin: 0;
}

.alerts .alert:nth-child(2n) {
    background-color: #f0f0f0;
}

.alerts .alert:nth-child(2n - 1) {
    background-color: #f8f8f8;
}

.alert {
    border: 2px black solid;
    max-width: 350px;
    width: 100%;
    margin: 15px auto;
    padding: 10px;
    border-radius: 0;
}

.alert.effect-no-service {
    border-color: black;
}

.alert.effect-reduced-service {
    border-color: black;
}

.alert.effect-significant-delays {
    border-color: black;
}

.alert.effect-detour {
    border-color: black;
}

.alert.effect-additional-service {
    border-color: #b0b0b0;
}

.alert.effect-modified-service {
    border-color: #909090;
}

.alert.effect-other-effect {
    border-color: black;
}

.alert.effect-unknown-effect {
    border-color: #b0b0b0;
}

.alert.effect-stop-moved {
    border-color: #303030;
}

.alert.severity-info {
    border-radius: 10px;
}

.alert p {
    margin: 1px 0;
}

.alert-timestamp {
    font-size: 0.9em;
    text-align: right;
}

.alert-timeframe {
    font-size: 0.8em;
    font-style: italic;
}

.alert-header {
    font-weight: bold;
}

.alert-url {
    text-align: right;
}

p.alert-description {
    font-size: 0.9em;
    margin: 5px 10px;
    text-align: justify;
    text-justify: inter-word;
}

.alert-li::after {
    content: ", ";
}

.alert-li:last-child::after {
    content: "";
}

.alert ul {
    margin: 0;
    padding-left: 17px;
}

li.alert-stops, li.alert-trips, li.alert-routes {
    margin: 3px 0;
}
