body {
    font-family: helvetica,sans,serif
}


h1 {
    font-size: 1.1em;
    text-align: center;
    margin: 0;
}

.lastupdated, .numresults {
    font-style: italic;
    text-align: center;
    margin: 1;
}

.notice {
    text-align: center;
    font-size: 0.9em;
    margin: 5 0;
}

#zone {
    text-align: center;
    margin: 0.5;
    font-size: 0.9em;
}

#stoptimetable, #searchtable {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

#stopform, #searchform {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8em;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 10px;
    background-color: #fafafa;
}

#stopnumber {
    max-width: 100%;
}

#searchquery {
    max-width: 100%;
}

#stopsubmit, #searchsubmit {
    /* float: right; */
}

#stoptimetable th, #searchtable th {
    text-align: center;
}

#stoptimetable th, #stoptimetable td, #searchtable th, #searchtable td{
    border: 1px solid #ccc;
    padding: 15px 5px 10px 5px;
}

#stoptimetable tr:nth-child(even), #searchtable tr:nth-child(even){
    background-color: #f0f0f0;
}

#stoptimetable thead, #searchtable thead{
    background-color: #dddddd;
}

#info p{
    text-align: center;
    max-width: 500px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.explainer {
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
}

.fmain {
    display: table;
    width: 100%;
    table-layout: fixed;
    /* border-spacing: 10px; */
}

.fcol {
        display: table-cell;
        padding: 0 10px;
}

.notices {
    text-align: center;
    font-size: 0.9em;
    margin: 15 auto;
    max-width: 400px;
    padding: 5px;
    border: 1px solid lightgray;
}

.notice-header {
    margin: 0;
    font-weight: bold;
}

.notice {
    margin: 0;
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
}
