body {
    font-family: helvetica,sans,serif
}


h1 {
    font-size: 1.1em;
    text-align: center;
    margin: 0;
}

.lastupdated, .numresults {
    font-style: italic;
    text-align: center;
    margin: 1;
}

#stoptimetable, #searchtable {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

#stopform, #searchform {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 15px;
    background-color: #fafafa;
}

#stopnumber {
    max-width: 6em;
}

#searchquery {
    max-width: 12em;
}

#stopsubmit, #searchsubmit {
    float: right;
}

#stoptimetable th, #searchtable th {
    text-align: center;
}

#stoptimetable th, #stoptimetable td, #searchtable th, #searchtable td{
    border: 1px solid #ccc;
    padding: 15px 5px 10px 5px;
}

#stoptimetable tr:nth-child(even), #searchtable tr:nth-child(even){
    background-color: #f0f0f0;
}

#stoptimetable thead, #searchtable thead{
    background-color: #dddddd;
}

#info p{
    text-align: center;
    max-width: 500px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.explainer {
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
}
