<title>Stop List - RTI Anywhere</title>

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}"  type="image/svg">
<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<body>

    <h1 class="stopinfo">Stop List</h1>

    <p class="explainer">Error: {{ error }}.</p>

    <p class="lastupdated">Route database last updated {{ lup }}</p>

    <br/>

    {% if routes is not none and routes|length > 0 %}
    <form id="routeform" action="/route/">
        <div class="fmain">
            <div class="fcol">Route:</div>
            <div class="fcol">
                <select name="r", id="routeselect">
                    <option value="none" selected disabled hidden>Select</option>
                    {% for route in routes %}
                    <option value="{{ route }}">{{ route }}</option>
                    {% endfor %}
                </select>

            </div>
            <div class="fcol"><input type="submit" id="routesubmit" value="Submit"></div>
        </div>
    </form>
    {% endif %}

<div id="info">
    <p><a href="/">Home</a> - Flask app by <a href="https://cloudisland.nz/@PetraOleum" target="_blank">@PetraOleum</a> - <a href="https://github.com/PetraOleum/RTI" target="_blank">Source code</a> - <em>Metlink please make your app faster, my phone is dying</em></p>
</div>

</body>


