{% extends "base.html" %}
{% import "forms.html" as forms %}

{% block header %}
    <title>RTI Anywhere</title>
{% endblock header %}

{% block content %}

    <h1>Unofficial Metlink Wellington Real Time Anywhere</h1>

    <p class="explainer">A fast, bookmarkable app for getting RTI info for bus stops in Wellington that don't have displays. Enter the stop number below.</p>

    <p class="explainer">Stop numbers are four-digit numbers that can be found on bus stop signs. For example Courtenay Place Stop A (westbound) is stop number <a href="/stop/5000/">5000</a>, while stop C (opposite) is stop number <a href="/stop/5516/">5516</a>.</p>

    {{ forms.stop() }}

    {% if routes is not none and routes|length > 0 %}
        {{ forms.route(routes) }}
    {% endif %}

    {{ forms.search() }}

{% endblock content %}
