<title>RTI Anywhere</title>

<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">

<body>

    <h1>Unofficial Metlink Wellington Real Time Anywhere</h1>

    <p class="explainer">A fast, bookmarkable app for getting RTI info for bus stops in Wellington that don't have displays. Enter the stop number below.</p>

    <p class="explainer">Stop numbers can be found on bus stop signs. For example Courntey Place Stop A (westbound) is stop number <a href="/stop/5000/">5000</a>, while stop C (opposite) is stop number <a href="/stop/5516/">5516</a>.</p>

<form id="stopform" action="/stop/">
    Bus stop number: <input type="number" id="stopnumber" name="stopnum"> <input type="submit" id="stopsubmit" value="Submit">
</form>

<div id="info">
    <p>Flask app by <a href="https://cloudisland.nz/@PetraOleum" target="_blank">@PetraOleum</a> - <a href="https://github.com/PetraOleum/RTI" target="_blank">Source code</a> - <em>Metlink please make your app faster</em></p>
</div>

</body>

