<title>RTI Anywhere</title>

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}"  type="image/svg">
<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<body>

    <h1>Unofficial Metlink Wellington Real Time Anywhere</h1>

    <p class="explainer">Either no such stop exists, or some other error has occured. Error code {{ error }}.</p>

<form id="stopform" action="/stop/">
    <div class="fmain">
        <div class="fcol">Bus stop number:</div>
        <div class="fcol"><input type="number" id="stopnumber" name="stopnum" max="9999" min="0"></div>
        <div class="fcol"><input type="submit" id="stopsubmit" value="Submit"></div>
    </div>
</form>

<div id="info">
    <p><a href="/">Home</a> - Flask app by <a href="https://cloudisland.nz/@PetraOleum" target="_blank">@PetraOleum</a> - <a href="https://github.com/PetraOleum/RTI" target="_blank">Source code</a> - <em>Metlink please make your app faster, my phone is dying</em></p>
</div>

</body>


