{% extends "base.html" %}
{% import "forms.html" as forms %}

{% block header %}
    <title>{{ code }}: {{ name }} - Stop List - RTI Anywhere</title>
{% endblock header %}

{% block content %}
    <h1 class="stopinfo">Route {{ code }} - Stop List</h1>

    <p class="routename">{{ name }}</p>

    {% if alerts is defined and alerts is not none and alerts|length > 0 %}
    <p class="stopalerts"><a href="#alerts">View {{ alerts|length }} service alert{% if alerts|length != 1 %}s{% endif %} for this route</a></p>
    {% endif %}

    <p id="allstopslink">[<a href="/timetable/{{ code }}/?stops=all">Full route {{ code }} timetable</a>]</p>

    <p class="lastupdated">Route database last updated {{ lup }}</p>

    {{ table }}

    {% if trips is defined and trips is not none %}

    <hr id="trips" style="max-width: 350px; margin: 20px auto;"/>

    <h1 class="stopinfo" style="margin: 0 0 5px 0">Active trips for route {{ code }}</h1>

    {{ trips }}

    {% endif %}

    {% if alerts is defined and alerts is not none and alerts|length > 0 %}
    <hr id="alerts" style="max-width: 350px; margin: 20px auto;"/>

    <h1 class="stopinfo">Relevant alerts for route {{ code }}</h1>

    {{ forms.alertList(alerts) }}
    {% endif %}

    {{ forms.route(routes, code) }}

{% endblock content %}
