<title>{{ code }}: {{ name }} - Stop List - RTI Anywhere</title>

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}"  type="image/svg">
<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<body>

    <h1 class="stopinfo">Route {{ code }} - Stop List</h1>

    <p class="routename">{{ name }}</p>

    {% if alerts is defined and alerts is not none and alerts|length > 0 %}
    <p class="stopalerts"><a href="#alerts">View {{ alerts|length }} service alert{% if alerts|length != 1 %}s{% endif %} for this route</a></p>
    {% endif %}

    <p class="lastupdated">Route database last updated {{ lup }}</p>

    {{ table }}

    {% if trips is defined and trips is not none %}

    <hr id="trips" style="max-width: 350px; margin: 20px auto;"/>

    <h1 class="stopinfo" style="margin: 0 0 5px 0">Active trips for route {{ code }}</h1>

    {{ trips }}

    {% endif %}

    {% if alerts is defined and alerts is not none and alerts|length > 0 %}
    <hr id="alerts" style="max-width: 350px; margin: 20px auto;"/>

    <h1 class="stopinfo">Relevant alerts for route {{ code }}</h1>

    <div class="alerts">
        {% for alert in alerts %}
        <div class='alert effect-{{ alert["effect"] }} cause-{{ alert["cause"] }} severity-{{ alert["severity"] }}' id='alert-{{ alert["id"] }}'>
            {% if alert["timestamp"] is not none %}
            <p class="alert-timestamp">{{ alert["timestamp"].strftime("%H:%M %-d %B %Y") }}</p>
            {% endif %}
            {% if alert["head"] is not none and alert["head"] != "" %}
            <p class="alert-header">{{ alert["head"] }}</p>
            {% endif %}
            {% if alert["desc"] is not none and alert["desc"] != "" %}
            <p class="alert-description">{{ alert["desc"] }}</p>
            {% endif %}
            {% if alert["start"] is not none and alert["end"] is not none %}
            <p class="alert-timeframe">Valid from {{ alert["start"].strftime("%H:%M, %A %-d %B") }} to {{ alert["end"].strftime("%H:%M, %A %-d %B") }}</p>
            {% endif %}
            <ul>
            {% if alert["stops"]|length > 0 %}
            <li class="alert-stops">
                <strong>Stops:</strong>
                {% for stop in alert["stops"] %}
                <span class="alert-li"><a href='/stop/{{ stop }}/'>{{ stop }}</a></span>
                {% endfor %}
            </li>
            {% endif %}
            {% if alert["routes"]|length > 0 %}
            <li class="alert-routes">
                <strong>Routes:</strong>
                {% for route in alert["routes"] %}
                <span class="alert-li"><a href='/route/{{ route }}/'>{{ route }}</a></span>
                {% endfor %}
            </li>
            {% endif %}
            {% if alert["trips"]|length > 0 %}
            <li class="alert-trips">
                <strong>Trips:</strong>
                {% for trip in alert["trips"] %}
                <span class="alert-li"><a href='/route/?trip={{ trip }}'>(link)</a></span>
                {% endfor %}
            </li>
            {% endif %}
            </ul>
            {% if alert["url"] is not none %}
            <p class="alert-url"><a href='{{ alert["url"] }}' target="_blank" rel="nofollow external">More information</a></p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endif %}

{% if routes is not none and routes|length > 0 %}
<form id="routeform" action="/route/">
    <div class="fmain">
        <div class="fcol">Route:</div>
        <div class="fcol">
            <select name="r" id="routeselect">
                {% for route in routes %}
                <option value="{{ route }}"
                {% if route == code%}
                selected
                {% endif %}
                >{{ route }}</option>
                {% endfor %}
            </select>

        </div>
        <div class="fcol"><input type="submit" id="routesubmit" value="Submit"></div>
    </div>
</form>
{% endif %}

<div id="info">
    <p><a href="/">Home</a> {% if nalerts is defined %} - <a href="/alerts/">{{ nalerts }} active service alerts</a>{% endif %} - Flask app by <a href="https://cloudisland.nz/@PetraOleum" target="_blank">@PetraOleum</a> - <a href="https://github.com/PetraOleum/RTI" target="_blank">Source code</a> - <em>Metlink please make your app faster, my phone is dying</em></p>
</div>

</body>

