{% extends "base.html" %}
{% import "forms.html" as forms %}

{% block header %}
    <title>{{ stopnumber }} {{ stopname }} - Timetable - RTI Anywhere</title>
{% endblock header %}

{% block content %}

    <h1 class="stopinfo">Stop {{ stopnumber }}: {{ stopname }}</h1>

    {% if alerts is defined and alerts is not none and alerts|length > 0 %}
    <p class="stopalerts"><a href="#alerts">View {{ alerts|length }} service alert{% if alerts|length != 1 %}s{% endif %} for this stop</a></p>
    {% endif %}

    <p id="zone">Zone {{ zone }} | <a href="/stop/{{ stopnumber}}/nearby/">Nearby Stops</a></p>

    <p class="lastupdated">Last updated at {{ lup }}</p>

    {% if table is not none %}
        {{ table }}
    {% else %}
        <p class="no-table" style="margin: 5 auto; text-align: center; font-weight: bold;">No services.</p>
    {% endif %}

    {% if alerts is defined and alerts is not none and alerts|length > 0 %}
        <hr id="alerts" style="max-width: 350px; margin: 20px auto;"/>

        <h1 class="stopinfo">Relevant alerts for stop {{ stopname }}</h1>

        {{ forms.alertList(alerts, show_trips=False) }}
    {% endif %}

    {{ forms.stop(stopnumber) }}

{% endblock content %}
