<title>{{ stopnumber }} {{ stopname }} - Timetable - RTI Anywhere</title>

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}"  type="image/svg">
<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<body>

    <h1 class="stopinfo">Stop {{ stopnumber }}: {{ stopname }}</h1>

    <p id="zone">Zone {{ zone }} | <a href="/stop/{{ stopnumber}}/nearby/">Nearby Stops</a></p>

    <p class="lastupdated">Last updated at {{ lup }}</p>

    {% if table is not none %}
        {{ table }}
    {% else %}
        <p class="no-table" style="margin: 5 auto; text-align: center; font-weight: bold;">No services.</p>
    {% endif %}

    {% if notices is not none %}
        <div class="notices" style="text-align: center; font-size: 0.9em; margin: 15 auto; max-width: 400px; padding: 5px; border: 1px solid lightgray;">
            {% if notices|length > 1 %}
                <p class="notice-header" style="margin: 0; font-weight: bold;">Metlink stop notices:</p>
            {% else %}
                <p class="notice-header" style="margin: 0; font-weight: bold;">Metlink stop notice:</p>
            {% endif %}
            {% for notice in notices %}
                <p class="notice" style="margin: 0; text-align: center; font-size: 0.9em; font-style: italic;">{{ notice }}</p>
            {% endfor %}
        </div>
    {% else %}
        <p></p>
    {% endif %}

    <form id="stopform" action="/stop/">
        <div class="fmain">
            <div class="fcol">Bus stop number:</div>
            <div class="fcol"><input type="number" id="stopnumber" name="stopnum" value="{{ stopnumber }}" max="9999" min="0"></div>
            <div class="fcol"><input type="submit" id="stopsubmit" value="Submit"></div>
        </div>
    </form>


    <div id="info">
        <p><a href="/">Home</a> - Flask app by <a href="https://cloudisland.nz/@PetraOleum" target="_blank">@PetraOleum</a> - <a href="https://github.com/PetraOleum/RTI" target="_blank">Source code</a> - <em>Metlink please make your app faster, my phone is dying</em></p>
    </div>

</body>
