<title>{{ stopnumber }} {{ stopname }} - Timetable - RTI Anywhere</title>

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}"  type="image/svg">
<link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<body>

    <h1 class="stopinfo">Stop {{ stopnumber }}: {{ stopname }}</h1>

    {% if alerts is defined and alerts is not none and alerts|length > 0 %}
    <p class="stopalerts"><a href="#alerts">View {{ alerts|length }} service alert{% if alerts|length != 1 %}s{% endif %} for this stop</a></p>
    {% endif %}

    <p id="zone">Zone {{ zone }} | <a href="/stop/{{ stopnumber}}/nearby/">Nearby Stops</a></p>

    <p class="lastupdated">Last updated at {{ lup }}</p>

    {% if table is not none %}
        {{ table }}
    {% else %}
        <p class="no-table" style="margin: 5 auto; text-align: center; font-weight: bold;">No services.</p>
    {% endif %}

    {% if alerts is defined and alerts is not none and alerts|length > 0 %}
    <hr id="alerts" style="max-width: 350px; margin: 20px auto;"/>

    <h1 class="stopinfo">Relevant alerts for stop {{ stopname }}</h1>

    <div class="alerts">
        {% for alert in alerts %}
        <div class='alert effect-{{ alert["effect"] }} cause-{{ alert["cause"] }} severity-{{ alert["severity"] }}' id='alert-{{ alert["id"] }}'>
            {% if alert["timestamp"] is not none %}
            <p class="alert-timestamp">{{ alert["timestamp"].strftime("%H:%M %-d %B %Y") }}</p>
            {% endif %}
            {% if alert["head"] is not none and alert["head"] != "" %}
            <p class="alert-header">{{ alert["head"] }}</p>
            {% endif %}
            {% if alert["desc"] is not none and alert["desc"] != "" %}
            <p class="alert-description">{{ alert["desc"] }}</p>
            {% endif %}
            {% if alert["start"] is not none and alert["end"] is not none %}
            <p class="alert-timeframe">Valid from {{ alert["start"].strftime("%H:%M, %A %-d %B") }} to {{ alert["end"].strftime("%H:%M, %A %-d %B") }}</p>
            {% endif %}
            <ul>
            {% if alert["stops"]|length > 0 %}
            <li class="alert-stops">
                <strong>Stops:</strong>
                {% for stop in alert["stops"] %}
                <span class="alert-li"><a href='/stop/{{ stop }}/'>{{ stop }}</a></span>
                {% endfor %}
            </li>
            {% endif %}
            {% if alert["routes"]|length > 0 %}
            <li class="alert-routes">
                <strong>Routes:</strong>
                {% for route in alert["routes"] %}
                <span class="alert-li"><a href='/route/{{ route }}/'>{{ route }}</a></span>
                {% endfor %}
            </li>
            {% endif %}
            </ul>
            {% if alert["url"] is not none %}
            <p class="alert-url"><a href='{{ alert["url"] }}' target="_blank" rel="nofollow external">More information</a></p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    <form id="stopform" action="/stop/">
        <div class="fmain">
            <div class="fcol">Bus stop number:</div>
            <div class="fcol"><input type="number" id="stopnumber" name="stopnum" value="{{ stopnumber }}" max="9999" min="0"></div>
            <div class="fcol"><input type="submit" id="stopsubmit" value="Submit"></div>
        </div>
    </form>


    <div id="info">
        <p><a href="/">Home</a> {% if nalerts is defined %} - <a href="/alerts/">{{ nalerts }} active service alerts</a>{% endif %} - Flask app by <a href="https://cloudisland.nz/@PetraOleum" target="_blank">@PetraOleum</a> - <a href="https://github.com/PetraOleum/RTI" target="_blank">Source code</a> - <em>Metlink please make your app faster, my phone is dying</em></p>
    </div>

</body>
