{% extends "base.html" %}
{% import "forms.html" as forms %}

{% block header %}
    <title>{{ code }}: {{ name }} - Timetabled Schedule - RTI Anywhere</title>
{% endblock header %}

{% block content %}
    <h1 class="stopinfo">Route {{ code }} - Single Trip Timetabled Schedule</h1>

    <p class="routename">{{ name }} - ({{ direction }})</p>

    {% if alerts is defined and alerts is not none and alerts|length > 0 %}
    <p class="stopalerts"><a href="#alerts">View {{ alerts|length }} service alert{% if alerts|length != 1 %}s{% endif %} for this trip</a></p>
    {% endif %}

    <p id="allstopslink">[<a href="/route/{{ code }}/">All stops associated with route {{ code }}</a> | <a href="/timetable/{{ code }}/?stops=all">Full route {{ code }} timetable</a>]</p>

    {% if valid_dates is defined and valid_dates is not none %}
        <p id="typical-dates" class="typical-days">Valid <strong>{{ valid_dates["str"] }}</strong> from <strong>{{ valid_dates["min"].strftime("%-d %B") }}</strong> to <strong>{{ valid_dates["max"].strftime("%-d %B %Y") }}</strong></p>
        {% if valid_dates["extra"] is not none %}
        <p id="extra-dates" class="typical-days">Additional dates: {{ valid_dates["extra"] }}</p>
        {% endif %} {% if valid_dates["missing"] is not none %}
        <p id="missing-dates" class="typical-days">Does not run: {{ valid_dates["missing"] }}</p>
        {% endif %}
    {% endif %}

    {% if vehicle is not none %}
    <div class="vehicleinfo">
        <h5>Trip assigned to vehicle {{ vehicle }}</h5>
        {% if v_pos is not none %}
        <p>Last seen <span title='Observed at {{ v_pos["ob_time"].strftime("%H:%M:%S") }}'>{% if v_pos["dtime"] < 3*60 %}{{ v_pos["dtime"] }} seconds ago{% elif v_pos["dtime"] < 3600 %}{{ v_pos["dtime"] // 60 }} minutes ago{% elif v_pos["dtime"] > 86000 %}moments ago{% endif %}</span> <strong>{{ v_pos["s_dist"] }}m {{ v_pos["s_head"] }}</strong> of stop <a href='#stop-{{ v_pos["s_id"] }}'>{{ v_pos["s_id"] }} {{ v_pos["s_name"] }}</a>, travelling {{ v_pos["bearing"] }}.</p>
        {% endif %}
        {% if v_upd is not none %}
        <p><em>Running <strong>{{ v_upd["delay"] }}</strong> as at {{ v_upd["ob_time"].strftime("%H:%M") }}.</em></p>
        {% endif %}
    </div>
    {% endif %}

    {{ table }}

    {% if datetable is defined and datetable is not none %}
    <hr style="max-width: 350px; margin: 20px auto;"/>

    <h1 id="tripdates">Currently valid dates for this trip code</h1>
    {{ datetable }}
    {% endif %}

    {% if alerts is defined and alerts is not none and alerts|length > 0 %}
        <hr id="alerts" style="max-width: 350px; margin: 20px auto;"/>

        <h1 class="stopinfo">Relevant alerts for route {{ code }}</h1>

        {{ forms.alertList(alerts) }}
    {% endif %}

    {{ forms.route(routes, code) }}


{% endblock content %}
