{% extends "base.html" %}
{% import "forms.html" as forms %}

{% block header %}
    <title>{{ footer["vehicles"] }} Active Vehicles - RTI Anywhere</title>
{% endblock header %}

{% block content %}
    <h1 class="alerts">{{ footer["vehicles"] }} Active Vehicles</h1>

    <p class="lastupdated">Last updated at {{ lup.strftime("%H:%M, %A %B %-d") }}</p>

    {% if table is none %}
    <p class="no-table">The vehicles are all asleep.</p>
    {% else %}
    {{ table }}
    {% endif %}
    <hr style="max-width: 350px; margin: 20px auto;"/>

{% endblock content %}

